<footer class="footer">
    <div class="footer__container">
        <nav class="footer__nav" aria-label="Footer navigation">
            <div class="footer__group">
                <a href="#">Archive</a>
                <p>Historical resources & past projects</p>
            </div>
            <div class="footer__group">
                <a href="#">Governance</a>
                <p>How we're organized</p>
            </div>
            <div class="footer__group">
                <a href="#">Contact</a>
                <p>Get in touch</p>
            </div>
        </nav>
        <p class="footer__copyright">
            {{ site.title | default: "Open Source Design" }} &copy; {{ 'now' |
            date: "%Y" }}
        </p>
    </div>
</footer>
