<div class="motif-inline">
  <div class="shape half-top"><div class="cobalt"></div></div>
  <div class="shape half-bottom"><div class="mint"></div></div>
  <div class="shape half-left"><div class="mint-light"></div></div>
  <div class="shape circle"><div class="cobalt"></div></div>
  <div class="shape half-right"><div class="mint"></div></div>
  <div class="shape circle"><div class="mint"></div></div>
  <div class="shape half-top"><div class="cobalt"></div></div>
  <div class="shape half-bottom"><div class="mint-light"></div></div>
</div>
