<div class="resource-card sidebar__panel">
    <div class="resource-card__kicker">Resources</div>
    <p class="sidebar__intro">
        Talks, guides, and real projects from the community. Learn how designers
        work in open source.
    </p>

    <div class="sidebar__featured">
        <h4 class="sidebar__featured-title">FOSDEM Talk Catalog</h4>
        <p class="sidebar__featured-desc">
            Browse our curated collection of talks on design & UX in open
            source.
        </p>
        <a href="#" class="sidebar__featured-link">Browse Catalog &rarr;</a>
    </div>

    <div class="sidebar__list">
        <div class="sidebar__item">
            <a href="#" class="sidebar__link"
                >Designing Contribution Pathways</a
            >
            <div class="sidebar__tag">Guide</div>
        </div>
        <div class="sidebar__item">
            <a href="#" class="sidebar__link"
                >How to Run Async Design Critiques</a
            >
            <div class="sidebar__tag">Collaboration</div>
        </div>
        <div class="sidebar__item">
            <a href="#" class="sidebar__link">Issue Templates for Designers</a>
            <div class="sidebar__tag">Pattern</div>
        </div>
        <div class="sidebar__item">
            <a href="#" class="sidebar__link">Visual Regression Testing 101</a>
            <div class="sidebar__tag">Talk</div>
        </div>
    </div>
</div>
